.button_user-info {
  font-size: 30px;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 16px;
  right: 0;
}

@media screen and (max-width: 980px) {
  .button_user-info {
    position: static;
    margin-bottom: 40px;
  }
}
 